body{
    background-image: url(https://krot.info/uploads/posts/2020-01/1579201250_5-23.jpg)
}
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
*{
    font-family: 'Source Sans Pro' sans-serif;
    letter-spacing: 4px;
}

.container{
    position: absolute;
    display: flex;
    flex-direction: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    }
    h1{
        position: absolute;
        background-color: #0087D9;
        border: #0087D9;
        left: 900px;
        top: 0px;
        color: rgb(255, 255, 255);
        width: 400px;
        height: auto;
    }
    .btn-0{
        position: absolute;
        width: 200px;
        height: 50px;
        left: 950px;
        top: 0px;
        border: none;
        color: #0087D9;
        border-radius: 4px;
        transition: ease-out 0.3;
        font-size: 2rem;
        outline: none;
        border: 3px solid #0087D9;
        position: relative;
        z-index: 1;
        }
        
        .btn-0:hover {
        color: rgb(255, 255, 255);
        cursor: pointer;
        }
        
        .btn-0:before {
        transition: 0.5s all ease;
        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        bottom: 0;
        opacity:0;
        content: "";
        background-color: #0087D9;
        
        }
        .btn-0:hover::before {
        transition: 0.5s all ease;
        left: 0;
        right: 0;
        opacity: 1;
        z-index: -1;
        }
    .btn-1{
width: 200px;
height: 50px;
left: 750px;
bottom: 300px;
border: none;
color: #0087D9;
border-radius: 4px;
transition: ease-out 0.3;
font-size: 2rem;
outline: none;
border: 3px solid #0087D9;
position: relative;
z-index: 1;
}

.btn-1:hover {
color: rgb(255, 255, 255);
cursor: pointer;
}

.btn-1:before {
transition: 0.5s all ease;
position: absolute;
top: 0;
left: 50%;
right: 50%;
bottom: 0;
opacity:0;
content: "";
background-color: #0087D9;

}
.btn-1:hover::before {
transition: 0.5s all ease;
left: 0;
right: 0;
opacity: 1;
z-index: -1;
}

.btn-2{
    width: 220px;
    height: 50px;
    left: 550px;
    bottom: 240px;
    border: none;
    color: #0087D9;
    border-radius: 4px;
    transition: ease-out 0.3;
    font-size: 2rem;
    outline: none;
    border: 3px solid #0087D9;
    position: relative;
    z-index: 1;
    }
    
    .btn-2:hover {
    color: #FFF;
    cursor: pointer;
    }
    
    .btn-2::before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity:0;
    content: "";
    background-color: #0087D9;
    
    }
    .btn-2:hover::before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
    }

    .btn-3{
        width: 220px;
        height: 50px;
        left: 330px;
        bottom: 180px;
        border: none;
        color: #0087D9;
        border-radius: 4px;
        transition: ease-out 0.3;
        font-size: 2rem;
        outline: none;
        border: 3px solid #0087D9;
        position: relative;
        z-index: 1;
        }
        
        .btn-3:hover {
        color: #FFF;
        cursor: pointer;
        }
        
        .btn-3:before {
        transition: 0.5s all ease;
        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        bottom: 0;
        opacity:0;
        content: "";
        background-color: #0087D9;
        
        }
        .btn-3:hover:before {
        transition: 0.5s all ease;
        left: 0;
        right: 0;
        opacity: 1;
        z-index: -1;
        }

        .btn-4{
            width: 220px;
            height: 50px;
            left: 110px;
            bottom: 120px;
            border: none;
            color: #0087D9;
            border-radius: 4px;
            transition: ease-out 0.3;
            font-size: 2rem;
            outline: none;
            border: 3px solid #0087D9;
            position: relative;
            z-index: 1;
            }
            
            .btn-4:hover {
            color: #FFF;
            cursor: pointer;
            }
            
            .btn-4:before {
            transition: 0.5s all ease;
            position: absolute;
            top: 0;
            left: 50%;
            right: 50%;
            bottom: 0;
            opacity:0;
            content: "";
            background-color: #0087D9;
            
            }
            .btn-4:hover:before {
            transition: 0.5s all ease;
            left: 0;
            right: 0;
            opacity: 1;
            z-index: -1;
            }

            .btn-5{
                width: 220px;
                height: 50px;
                right: 110px;
                bottom: 60px;
                border: none;
                color: #0087D9;
                border-radius: 4px;
                transition: ease-out 0.3;
                font-size: 2rem;
                outline: none;
                border: 3px solid #0087D9;
                position: relative;
                z-index: 1;
                }
                
                .btn-5:hover {
                color: rgb(255, 255, 255);
                cursor: pointer;
                }
                
                .btn-5:before {
                transition: 0.5s all ease;
                position: absolute;
                top: 0;
                left: 50%;
                right: 50%;
                bottom: 0;
                opacity:0;
                content: "";
                background-color: #0087D9;
                
                }
                .btn-5:hover:before {
                transition: 0.5s all ease;
                left: 0;
                right: 0;
                opacity: 1;
                z-index: -1;
                }

                .syunak{
                    background-color: #0087D9;
                    position: absolute;
                    bottom: 200px;;
                    right: 300px;
                    color: rgb(255, 255, 255);

                }
              